/* 
Created by: Nika Ashtarzadeh
Email: Nika_Ashtarzadeh@student.uml.edu
Date: 11/26/24
*/

/* Title styling */
.page-title {
    background-color: #231b92;
    color: white;
    padding: 10px;
    font-size: 2em;
    text-align: center; /* Ensure proper alignment */
}

/* Table container and cells */
#tableContainer table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    margin-top: 20px;
}

#tableContainer table th,
#tableContainer table td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Alternating row colors */
#tableContainer table tr:nth-child(even) {
    background-color: #8499f6; /* Light blue for even rows */
}

#tableContainer table tr:nth-child(odd) {
    background-color: #ffffff; /* White for odd rows */
}

/* Sticky headers for multiplicand and multiplier */
.multiplicand-header {
    color: white;
    font-weight: bold;
    background-color: #231b92;
    position: sticky;
    left: 0;
    z-index: 9;
}

.multiplier-header {
    color: white;
    font-weight: bold;
    background-color: #231b92;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Error message styling */
label.error {
    color: #721c24;
    background-color: #f8d7da;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid red;
    font-size: 0.9em;
    display: block;
}


