/* 
Created by: Nika Ashtarzadeh
Email: Nika_Ashtarzadeh@student.uml.edu
Date: 10/12/24
*/


/*style for main title of page*/
.page-title{
    background-color: #231b92; /* Background color for the title */
    color: white; /* Text color */
    padding: 10px; /* Padding for spacing */
    font-size: 2em; /* Font size */

}

/*style for table cells */
#multiplicationTable {
    width: 100%; /* Full width */
    table-layout: auto; /* Auto layout for responsiveness */
}

 /* Style for error message */
 #errorMessages {
    display: none;
    margin-top: 10px; /* Space above the error messages */
    padding: 10px; /* Space inside the error messages box */
    border: 1px solid red; /* Red border for emphasis */
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text color */
}

/* alternating colors for even and odd */
.even-row {
    background-color: #ffffff; /* White for odd rows */
}

.odd-row {
    background-color: #8499f6; /* Light blue for even rows */
}

/* style for the multiplicands */
.multiplicand-header {
    color: white; 
    font-weight: bold; 
    background-color: #231b92; 

    position: sticky; /* sticks the multiplier to the page even when scrolling */

    left: 0; /* Position the multiplicands at the left */
    z-index: 9; /* Ensures left header stays above other content */
}

/* style for the multipliers */
.multiplier-header {
    color: white; 
    font-weight: bold; 
    background-color: #231b92; 
    position: sticky; /* sticks the multiplier to the page even when scrolling */

    top: 0; /* Position the multipliers at the top */
    z-index: 10; /* ensures multiplier stays top layer over content  */
}